.User {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid #333;
        border-radius: 4px;
    }
}
