.Transactions {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;

    .history {
        margin-left: 100px;
    }

    .new-transaction,
    .pending {
        margin-left: 100px;
        border-right: 1px solid #333;
        padding-right: 100px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid #333;
        border-radius: 4px;
    }

    .mineButton {
        margin-top: 16px;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s;
        border-radius: 4px;
    }

    .mineButton:hover {
        margin-top: 16px;
        background-color: #404040;
        cursor: pointer;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 12px;
        }

        button[type='submit'] {
            margin-top: 16px;
            background-color: #333;
            color: #fff;
            border: none;
            padding: 8px 16px;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s;
            border-radius: 4px;
        }

        button[type='submit']:hover {
            margin-top: 16px;
            background-color: #404040;
            cursor: pointer;
        }
    }
}
